body,h1, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins','Montserrat', sans-serif; 
    background-color: #BCEAD5;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #DEF5E5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #1D5D9B;
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

select {
    width: 80%;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.word-count-btn {
    font-family: "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Apple Color Emoji", sans-serif;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}

.result-tab, .word-count-btn {
    display: inline-block;
    padding: 10px;
    margin: 12px;
    cursor: pointer;
    border: none;
    background-color: #BCEAD5;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.result-tab:hover, select:hover, 
    select:focus, .word-count-btn:hover{
    padding: 14px;
    background-color: #75C2F6;
}

.word-count-btn:hover, .result-tab:hover{
color: aliceblue;
}

.sub-heading-display {
    display: none;
    text-align: center;
    margin-top: 10px;
    border: none;
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
}

select {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #BCEAD5;
    border: none;
    appearance: none;
    transition: all 0.3s;
    overflow-y: auto;
}

select option {
    background-color: #BCEAD5; 
}

select:focus {
    outline: none; 
}


.sub-heading{
    text-align: center;
    transition: all 0.2s;
}

.sub-heading:hover {
    color: #1D5D9B;
}

.graph-container {
    max-width: 400px;
    margin-left: 160px;
    transition: transform 0.3s ease-in-out;
    transform-origin: right center; 
}

.wordcloud-container {
    margin-left: 100px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.graph-container:hover {
    transform: scale(1.2);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_word {
    margin-top: 20px;
    margin-left: 250px;
    flex: 1;
    height: 20px;
    width: 400px;
    padding: 8px;
    padding-left: 18px;
    font-size: 16px;
    border: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    border-radius: 40px 0 0 40px;
    background-color: #D5ECC2;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 20%;
    transition: all ease 0.3s;
}

.search_word:hover  {
    margin-left: 175px;
    width: 50%;
    background-color: #a9ddff78;
}

.word-container {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(179, 232, 32, 0.35);
    background-color: #b1cd8525;
}

.frequent-words-container {
    margin-left: 60px;
}

.count_word_btn {
    height: 18px;
    padding: 11px 17px 24px 17px;
    background-color: #cce19b;
    border: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    transition: all 0.3s;
}

.count_word_btn:hover {
    padding: 11px 23px 24px 23px;
    background-color: #3ba2e7;
    color: aliceblue;
}