<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Page</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
</head>

<body>
    <div class="container">
        <h1>Friend Flow 📈</h1>
        <form action="{{ url_for('perform_analysis') }}" method="post" id="analysis-form">
            <label for="user">Choose a User:</label>
            <br>
            <select name="user" id="user" style="max-height: none; height: auto;" onchange="changeColor(this); submitForm()">
                <option value="all" {% if not selected_user %}selected{% endif %}>All Users</option>
                {% for user in unique_users %}
                <option value="{{ user }}" {% if selected_user == user %}selected{% endif %}>{{ user }}</option>
                {% endfor %}
            </select>
        </form>

        <script>
            function changeColor(select) {
                var selectedOption = select.options[select.selectedIndex];
                selectedOption.style.color = 'black';
            }

            function submitForm() {
                document.getElementById('analysis-form').submit();
            }
        </script>
    </div>
    <div class="container">
        {% if results %}
        <div id="analysis-results" style="text-align: center; margin-top: 20px;">
            <h2 style="color: #3559E0;">Messages: {{ results.msgs }}</h2>
            <h2 style="color: #0F2167;">Words: {{ results.words }}</h2>
            <h2 style="color: #3559E0;">Media Shared: {{ results.media }}</h2>
        </div>
        {% endif %}
    </div>
</body>

</html>