<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Page</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
    <div class="container" id="select-container">
        <h1>Friend Flow 📈</h1>
        <form action="{{ url_for('perform_analysis') }}" method="post" id="analysis-form">
            <label for="user">Choose a User:</label>
            <br>
            <select name="user" id="user" style="max-height: none; height: auto;"
                onchange="changeColor(this); submitForm()">
                <option value="all" {% if not selected_user %}selected{% endif %}>All Users</option>
                {% for user in unique_users %}
                <option value="{{ user }}" {% if selected_user==user %}selected{% endif %}>{{ user }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="container hidden-container" style="padding: 0;">
        {% if results %}
        <div id="analysis-results" style="text-align: center; margin-top: 20px;">
            <div class="result-tab" onmouseover="showResult('{{ results.msgs }}')" onmouseout="hideResult()">Messages
            </div>
            <div class="result-tab" onmouseover="showResult('{{ results.words }}')" onmouseout="hideResult()">Words
            </div>
            <div class="result-tab" onmouseover="showResult('{{ results.media }}')" onmouseout="hideResult()">Media
                Shared</div>
            <div id="result-display" class="sub-heading-display"></div>
        </div>
        {% endif %}
    </div>

    <div class="container hidden-container"
        style="max-width: 900px; {% if not selected_user %}display: none;{% endif %}">

        <h2 class="sub-heading"> Most Busy Users </h2>
        <div class="graph-container" id="graph-container">
            {{ graph_html | safe }}
        </div>

        {% if selected_user %}
        <p style="text-align: center; max-width: 410px;
            margin-left: 200px; 
            vertical-align: middle;">{{ busiest }}
        </p>
        {% endif %}
    </div>

    <div class="container hidden-container" 
    style="max-width: 900px; {% if not selected_user %}display: none;{% endif %}">

        <h2 class="sub-heading"> Most Common Words </h2>

        <div class="wordcloud-container">
            {{ wordcloud_image | safe }}
        </div>
        <div class="frequent-words-container">
            {% for word, count in freq_words.items() %}
            <button class="word-count-btn" onmouseover="showCount('{{ word }}', '{{ count }}')" onmouseout="hideCount()">{{ word }}</button>
            {% endfor %}
        </div>
        <div id="search-container">
            <input class="search_word" type="text" id="searchTerm" placeholder="Enter a word here.">
            <button id="searchButton" onmouseover="searchWord()" class="count_word_btn">Search</button>
        </div>
        <div id="searchResult" class="sub-heading-display" style="display: none;"></div>
        </div>
    </div>


    <script>
    function searchWord() {
        var searchTerm = $('#searchTerm').val();
        $.get('/get_word_counts', function(wordCounts) {
            var resultDisplay = $('#searchResult');
            var count = wordCounts[searchTerm.toLowerCase()] || 0;
            resultDisplay.text(searchTerm + ': ' + count);
            resultDisplay.css('display', 'block');
        });
    }
        function changeColor(select) {
            var selectedOption = select.options[select.selectedIndex];
            selectedOption.style.color = 'black';
        }

        function submitForm() {
            document.getElementById('analysis-form').submit();
        }

        function showResult(result) {
            var resultDisplay = document.getElementById('result-display');
            if (resultDisplay) {
                resultDisplay.innerText = result;
                resultDisplay.style.display = 'block';
            }
        }

        function hideResult() {
            var resultDisplay = document.getElementById('result-display');
            if (resultDisplay) {
                resultDisplay.style.display = 'none';
            }
        }

        function showCount(word, count) {
            var wordCountDisplay = document.getElementById('word-count-display');
            if (wordCountDisplay) {
                wordCountDisplay.innerText = `${word} was used ${count} times.`;
                wordCountDisplay.style.display = 'block';
            }
        }

        function hideCount() {
            var wordCountDisplay = document.getElementById('word-count-display');
            if (wordCountDisplay) {
                wordCountDisplay.style.display = 'none';
            }
        }
    </script>
</body>

</html>