<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Akshat Sanghvi" />
    <link rel="stylesheet" href="../static/css/background.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>
        Friend Flow
    </title>

</head>

<body>
    <div class="title">
    Friend Flow 📈
    </div>
    <div class="container" id="container">
    <div class="hidden">
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="main-form">
    <div class="uploader" id="uploaderSection">
        <label class="p1" for="filePicker">Handpick Your Chat: </label>
        <input class="choose-file" type="file" name="fileInput" id="filePicker" accept=".txt">
    </div>
    
    <p class="p1 or">OR</p>

    <center class="upload" id="dropArea">
        <p class="p1" id="dropAreaText">DROP CONVERSATION HERE!</p>
        <input type="file" name="file" id="fileInput" accept=".txt" style="display: none;">
    </center>
    <div class="remove-file" id="removeFileSection" style="display: none;">
        <button id="removeFileButton" onclick="removeFile()">Remove File ❌</button>
    </div>
    <button class="analysis-button" type="submit">Upload</button>
</form>
</div>
    
    <script>
    const title = document.querySelector('.title');
    const body = document.body;
    const button = document.button;
    const dropArea = document.getElementById('dropArea');
    const uploaderSection = document.getElementById('uploaderSection');
    const removeFileSection = document.getElementById('removeFileSection');
    const removeFileButton = document.getElementById('removeFileButton');
    const dropAreaText = document.getElementById('dropAreaText');
    
        title.addEventListener('mouseover', () => {
            body.style.backgroundColor = '#000000';
            container.style.backgroundColor = '#B2B2B2';
            dropArea.style.border = '4px dashed #000000';
        });
    
        title.addEventListener('mouseout', () => {
            body.style.backgroundColor = '';
            container.style.backgroundColor = '';
            dropArea.style.border = '';
        });
        
    
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false);
        document.body.addEventListener(eventName, preventDefaults, false);
    });

    ['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false);
    });

    ['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false);
    });

    dropArea.addEventListener('drop', handleDrop, false);

    function preventDefaults(e) {
        e.preventDefault();
        e.stopPropagation();
    }

    function highlight() {
        dropArea.classList.add('highlight');
    }

    function unhighlight() {
        dropArea.classList.remove('highlight');
    }

    function handleDrop(e) {
        const dt = e.dataTransfer;
        const files = dt.files;

        handleFiles(files);
    }

    function handleFiles(files) {
        const ortext = document.querySelector('.p1.or');
        if (files.length > 0) {
            const uploadedFile = files[0];
            const fileNameDisplay = document.createElement('p');
            fileNameDisplay.innerText = `Uploaded File: ${uploadedFile.name}`;

            dropAreaText.innerHTML = ''; 
            dropAreaText.appendChild(fileNameDisplay);
            uploaderSection.style.display = 'none';
            dropArea.classList.remove('uploader', 'drop-area');

            removeFileSection.style.display = 'block';


            const reader = new FileReader();
            reader.onload = function (event) {
                const fileContent = event.target.result;

                console.log("Uploaded File Content:", fileContent);
            };
            reader.readAsText(uploadedFile);
            ortext.style.display = 'none';
        }
        else {
        ortext.style.display = 'block';
    }
    }

    function removeFile() {
        const fileInput = document.getElementById('fileInput');
        const ortext = document.querySelector('.p1.or');
        dropAreaText.innerHTML = 'DROP CONVERSATION HERE!';
        uploaderSection.style.display = 'block';
        dropArea.style.border = '4px dashed #1D5D9B';
        removeFileSection.style.display = 'none';
        ortext.style.display = 'block';
        fileInput.value = '';

            event.stopPropagation();
            event.preventDefault();
        }
    dropArea.addEventListener('click', () => {
        fileInput.click();
    });

    fileInput.addEventListener('change', (e) => {
        const files = e.target.files;
        handleFiles(files);
    });
</script>

</div>
</body>
</html>
